/* 3 Mouse Tech */

/*logo*/
@font-face {
    font-family: 'saxmonoregular';
    src: url('/fonts/saxmono-webfont.eot');
    src: url('/fonts/saxmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/saxmono-webfont.woff') format('woff'),
         url('/fonts/saxmono-webfont.ttf') format('truetype'),
         url('/fonts/saxmono-webfont.svg#saxmonoregular') format('svg');
} 
/*headings*/
@font-face {
    font-family: 'crimson_textsemibold';
    src: url('/fonts/crimsontext-semibold-webfont.eot');
    src: url('/fonts/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/crimsontext-semibold-webfont.woff') format('woff'),
         url('/fonts/crimsontext-semibold-webfont.ttf') format('truetype'),
         url('/fonts/crimsontext-semibold-webfont.svg#crimson_textsemibold_italic') format('svg');
}

@font-face {
    font-family: 'nunitobold';
    src: url('/fonts/nunito-bold-webfont.eot');
    src: url('/fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/nunito-bold-webfont.woff') format('woff'),
         url('/fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('/fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
}
/* banner */
@font-face {
    font-family: 'crimson_textsemibold_italic';
    src: url('/fonts/crimsontext-semibolditalic-webfont.eot');
    src: url('/fonts/crimsontext-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/crimsontext-semibolditalic-webfont.woff') format('woff'),
         url('/fonts/crimsontext-semibolditalic-webfont.ttf') format('truetype'),
         url('/fonts/crimsontext-semibolditalic-webfont.svg#crimson_textsemibold_italic') format('svg');
}

/*body text*/
@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato-reg-webfont.eot');
    src: url('/fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato-reg-webfont.woff') format('woff'),
         url('/fonts/lato-reg-webfont.ttf') format('truetype'),
         url('/fonts/lato-reg-webfont.svg#latoregular') format('svg');
}

html, body, form, fieldset, legend, th, td, dt, dd {
  margin: 0;
  padding: 0;
}
html.wait {
  cursor: wait;
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

/* older browsers */
header, nav, main, article, footer {
  display: block;
}
time {
  display: inline-block;
}

img {
  vertical-align: bottom;
  border: 0;
}

a[title]:focus:after { 
  content: ' ' attr(title);
}
a[title]:hover:focus:after { 
  content: '';
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: none;
}

.hidden {
  display: none;
}

.ac {
    position: absolute;
    left: -999em;
    height: 0;
}

/* http://www.pmob.co.uk/temp/sticky-footer-ie8new.htm */
html, body {
  height: 100%;
}

body {
  color: #333;
  font: 120%/130% 'dejavu sans',helvetica,sans-serif;
  background: #f3f1e5 url(/images/bg_yeller.jpg);
}
@media screen and (min-width: 500px) {
  body {
    font-family: latoregular,'dejavu sans',helvetica,sans-serif;
  }
}
    /*opera resizing min-height*/
    body:before {
      content: '';
      float: left;
      width: 0;
      height: 100%;
      margin-top: -32767px;/*opera limit*/
    }

#wrap {
  min-height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 1em 5em;
  word-spacing: 3px;/*Lato is kinda close..*/
}
@media screen and (min-width: 950px) {
  .container, footer {
    max-width: 85%;
  }
}
@media screen and (min-width: 1050px) {
  .container, footer {
    max-width: 70%;
  }
}

.skiplink {
  position: absolute;
  left: 0;
  top: .3em;
  display: block;
  margin-left: -9999px;
  padding: 5px;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #505050;
  box-shadow: 0px 1px 2px  rgba(51,51,51,0.4);
}
    .skiplink:focus {
      margin-left: 7em;
      text-decoration: none;
    }

nav {
  margin: 0;
  padding-top: 1em;
  text-align: center;
}

nav ul {
  margin: 0;
  list-style: none;
  border-top: 1px solid #477444;
}
    nav li {
      display: inline;
    }
    nav a {
      display: block;
      padding: 15px 2px 15px 15px;
      font-size: .9em;
      text-align: left;
      font-variant: small-caps;
      background-color: rgba(255,255,255,0.2);
      border-bottom: 1px solid #477444;
    }
        nav .active a {
          color: #000;
        }
        nav a:focus,
        nav a:hover {
          color: #000;
          text-decoration: none;
          background-color: #fff;
        }

@media screen and (min-width: 500px) {
  nav ul {
    text-align: left;
    border-top: 0;
  }
      nav a {
        display: inline-block;
        vertical-align: top;
        padding: 15px 12px 15px 15px;
        font-size: 1em;
        font-variant: normal;
        background-color: transparent;
        border-bottom: 0;
      }
}

@media screen and (min-width: 800px) {
  nav {
    padding: 0 2em .6em 115px;
    border-bottom: 1px solid #e3daab;
  }
      nav ul {
        text-align: right;
      }
      nav a {
        padding: 10px 2px 10px 5px;
      }
          nav a:before {
            content: '|\0a';
            display: inline-block;
            vertical-align: top;
            padding: 0 10px 0 0;
            color: #e3c289;
          }
          nav li:first-child a:before {
            content: '';
            display: none;
          }
          nav a:focus,
          nav a:hover {
            background-color: transparent;
          }
}

/* is sometimes an h1, other times a p */
nav+header {
  margin-top: 1em;
}

.logo {
  font-size: 1.2em;
  text-align: center;
}
    .logo a {
      text-decoration: none;
    }
        .logo a:focus,
        .logo a:hover {
          color: #016;
          text-decoration: none;
        }

@media screen and (min-width: 500px) {
  header p.logo, header h1.logo {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font: 1em/100px nunitobold,verdana,sans-serif;
  }
}
    
@media screen and (min-width: 750px) {
  header p.logo, header h1.logo {
    margin: 1em 0 0;
    font: 2em/1 nunitobold,verdana,sans-serif;
    text-align: left;
    vertical-align: middle;
  } 
      header img {
        vertical-align: top;
      }
}

a {
  color: #477444;
  text-decoration: none;
}
    a:hover,
    a:focus {
      text-decoration: underline;
    }
 
.container a {
  font-weight: bold;
}

#content {
  clear: both;
  margin-top: 1.5em;
}

.banner {
  padding: 1em;
  margin-bottom: 2em;
  color: #000;
  font: italic 1.4em georgia,serif;
  border-top: 1px solid #e3daab;
  border-bottom: 1px solid #e3daab;
}
@media screen and (min-width: 800px) {
  .banner {
    font: normal 2em crimson_textsemibold_italic,georgia,serif;
  }

  .banner p {
    max-width: 690px;
    margin: 0 auto;
  }

  .banner~div {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding-left: 3em;
  }
      .banner+div {
        padding-left: 0;
      }
      .banner~div h2 {
        margin-top: 0;
      }
}
@media screen and (min-width: 1100px) {
  .banner~div {
    width: 26%;
  }
}

.banner~.last {
  display: block;
  width: auto;
  margin-top: 4em;
  padding-left: 0;
}
    .last h2 {
      text-align: center;
      border-top: 1px solid #477444;
    }
        .last h2 span {
          position: relative;
          top: -.6em;
          padding: 3px .5em;
          background: #f3f1e5 url(/images/bg_yeller.jpg);
        }

/* "We are..." */
.intro {
  font-size: 1.4em;
}
 
h1, h2, h3, h4, .intro {
  font-family: georgia,serif;
}
@media screen and (min-width: 500px) {
  h1, h2, h3, h4, .intro {
    font-family: crimson_textsemibold,georgia,serif;
    line-height: 1.1;
  }
}

h1 {
  margin: 1em 0;
  font-size: 2em;
}
#content h1 {
  margin: 0 0 1em;
  padding: .8em 0;
  border-top: 1px solid #e3daab;
  border-bottom: 1px solid #e3daab;
}
h2 {
  margin: 2em 0 .5em;
  font-size: 1.4em;
}
h3 {
  margin: 1em 0 .5em;
  font-size: 1.2em;
}

p {
  margin: 0 0 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 22px;
  padding: 0;
}
ul {
  list-style-type: circle;
}
    li {
      margin-bottom: .4em;
    }


/* members */
.members {
  margin-top: 2em;
}
    .members div {
      margin-bottom: 2em;
      overflow: hidden;
    } 
    .members h2 {
      margin-top: 0;
      padding: .5em 0;
      border-top: 1px solid #e3daab;
      border-bottom: 1px solid #e3daab;
    }
        .members h2 a {
          padding: 0 5px;
        }
    .members h2+a {
      display: inline-block;
      margin: 0 1em .6em 0;
      padding: 1em;
      background-color: rgba(255,255,255,0.2);
      border: 1px solid #ddd;
    }
        .members img {
          border: 1px solid #e3daab;
        }

@media screen and (min-width: 600px) {
  .members div {
      border-top: 1px solid #e3daab;
  }
  .members h2 {
    margin: 0 0 .2em 180px;
    border-top: 0;
  }
      .members h2+a {
        float: left;
        margin: -1.8em 0 0 0;
      }
      .members p {
        margin-left: 180px;
      }
}

/* individual member */
.member {
  margin-top: 2em;
  overflow: hidden;
}
    .member img {
      float: left;
      padding: 1em;
      background-color: rgba(255,255,255,0.2);
      border: 1px solid #e3daab;
    }
    .member img~p {
      margin-left: 180px;
    }
    .twit a {
      display: inline-block;
      vertical-align: middle;
      min-height: 20px;
    }
        .twit:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 20px;
          background: url(/images/sprite.png) 0 -41px no-repeat;
        }
        .twit:focus:before,
        .twit:hover:before {
          background-position: -31px -41px;
        }

/* bloggitty blog blog blog */
article {
  max-width: 700px;
}

h1+article {
}
    h1+article h2 {
      margin: 2em 0 .5em;
      font-size: 1.4em;
    }

article footer {
  margin: 0 0 1.6em .3em;
}
    article h2 {
      margin: 0;
      font-size: 1.8em;
    }
    article footer span,
    article footer time {
      color: #505050;
      font-size: .8em;
    }
    time i {
      font-style: normal;
    }


/* chimp, forms */
fieldset {
  display: inline-block;
  padding: 1em;
  border: 1px solid #e3daab;
}
    label, input[type=text],
    input[type=email], textarea {
      min-width: 10em;
      margin: 0 .6em 5px 0;
      padding: 10px;
      font: bold 1em/1.1 'dejavu sans',helvetica,sans-serif;
    }
    label {
      display: block;
    }
    input[type=text], input[type=email], textarea {
      width: 15em;
      margin: 0 0 1em 0;
      background-color: #fdfcf3;
      border: 1px solid #e3daab;
      border-radius: 3px;
    }
        input[type=text]:focus, input[type=email]:focus {
          background-color: #fff;
          border-color: #a98e55;
          outline: 0;
        }

    textarea {
      width: auto;
    }
    input[type=submit] {
      box-sizing: content-box;
      width: 15em;
      margin: 10px 1.2em 10px 0;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      background-color: #477444;
      border: 1px solid transparent;
      border-radius: .6em;
      cursor: pointer;
      -moz-transition: background-color 0.5s ease-out;
      -webkit-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: background-color 0.5s ease-out; 
    }
        input[type=submit]:focus,
        input[type=submit]:hover {
          background-color: #41c337;
          border: 1px solid #477444;
        }

@media screen and (min-width: 500px) {
  label, input[type=text],
  input[type=email], textarea {
    font: bold 1em/1.1 latoregular,'dejavu sans',helvetica,sans-serif;
  }
}

@media screen and (min-width: 650px) {
  fieldset div:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
  label, input[type=text],
  input[type=email] {
    float: left;
    margin: 0 1em 1em 0;
  }
      input[type=submit] {
        float: right;
      }
}

#mc_embed_signup span,
.contact span {
  vertical-align: middle;
  color: #c60;
  font-weight: bold;
  font-size: 1.8em;
  line-height: .6em; 
}

body>footer {
  clear: both;
  position: relative;  
  height: 5em;
  margin: -4.5em auto 0;
  padding: 0 1em;
}
    footer div {
      background-color: #e3daab;
      border-radius: 3px;
    }
    body>footer p {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 10px;
        color: #000;
        font-size: .9em;
    }
    body>footer a {
      color: #016;
      text-decoration: underline;
    }
            body>footer a:focus,
            body>footer a:hover {
                color: #477444;
                text-decoration: none;
            }

@media screen and (min-width: 600px) {
  body>footer p {
      width: 50%;
  }
  footer div p:first-child {
      width: 40%;
      text-align: right;
  }
}
