article
  if !standalone
    header
      h2
        a(href = article.url)=article.title
    footer
      | <span>posted</span> 
      time(datetime = article.date, am-time-ago = article.date.valueOf())
        i=article.date.toLocaleDateString()
  else
    p
    | <span>posted</span> 
    time(datetime = article.date, am-time-ago = article.date.valueOf())
      i=article.date.toLocaleDateString()

    &nbsp;
    if article.tags
      | Tags: 
      !=article.tags.map(function(tag) { return "<a href='/tags/"+tag+"'>"+tag+"</a>" }).join(", ")
  !=article.contentRenderedWithoutLayouts
