---
title: Blog
type: page
order: 2
isPaged: true
pagedCollection: "articles"
pageSize: 5
---

h1 News, Articles, Press Releases and Tech Blog

each a in getPageCollection("articles").toJSON()
  !=partial("article", {article: a})
!=partial("paginate")
