-var meta = getBlock("meta")
-var scripts = getBlock("scripts")
-var styles = getBlock("styles")

doctype
html(lang = "en")
  head
    title= getPreparedTitle()
    link(href = "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel = "stylesheet")
    link(href = "/stylesheet.css", rel = "stylesheet")
    !=styles.toHTML()
    link(rel="alternate", type="application/atom+xml", title=site.title, href="/feed.xml")
    meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
    meta(name = "google-site-verification", content = "FIXME")
    !=meta.toHTML()
  body
    #wrap
      .container
        a.sr-only(href = "#content") Skip to main content
        header
          h1: a(href = "/")=site.title
        nav
          ul.nav.nav-tabs
            each doc in getCollection('pages').toJSON()
              - clazz = (document.url === doc.url) ? "active" : null
              li(class = clazz)
                a(href=doc.url)= doc.title
        #content
          if !document.skipTitleHeading && !document.isPaged
            header
              h1=document.title
          !=content
    #footer
      .container
        footer Copyright &copy; 2014 3 Mouse Technology.
    script(src = "//code.jquery.com/jquery-2.0.3.min.js")
    script(src = "//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js")
    script(src = "//netdna.bootstrapcdn.com/bootstrap/3.1.0js/bootstrap.min.js")
    !=scripts.toHTML()
